body {
  margin: 0; //убираем отступы
}

#banner {
  margin: 0 auto; //центрируем баннер
  width: 200px;   //ширина
  height: 100px;  //высота
  background-image: url(image.png); //загружаем изображение как фон
  background-size: cover; //чтобы при изменении размера банера, изображение менялось вместе с ним
  background-position: 50% 50%; //центрирование изображение относительно баннера
}
